<forge-app-bar class="cs-gpt-header">
  <img slot="start" class="logo" [src]="'assets/images/chatgpt.png'"/>
  <div slot="title" style="display: flex; align-items: center; gap: 10px;">
    <h3>ChatGPT Utilities</h3>
    <h5 style="color: lightgrey">by Zach Champeau</h5>
  </div>
</forge-app-bar>

<div class="cs-gpt-container">
  <forge-drawer class="drawer">
    <forge-list>
      <forge-list-item (click)="setActivePage(0)">
        <forge-icon slot="leading" name="code_tags_check"></forge-icon>
        <span slot="title"> Code Masker </span>
      </forge-list-item>
      <forge-list-item (click)="setActivePage(1)">
        <forge-icon slot="leading" name="test_tube"></forge-icon>
        <span slot="title"> Sample Code </span>
      </forge-list-item>
      <forge-list-item (click)="setActivePage(2)">
        <forge-icon slot="leading" name="tag_faces"></forge-icon>
        <span slot="title"> I hope to add more :) </span>
      </forge-list-item>
    </forge-list>
  </forge-drawer>

  <code-dummification class="content" *ngIf="getActivePage() === 0"></code-dummification>
  <code-examples class="content" *ngIf="getActivePage() === 1"></code-examples>
  <app-more-soon class="content" *ngIf="getActivePage() === 2"></app-more-soon>
</div>
